.container {
  width: 100vw;
  display: flex;
  flex-direction: column;
  min-height: calc(100vh - 150px);
  margin-top: 80px;
  padding: 2% 5% 80px 5%;

  @media (max-width: 750px) {
    min-height: calc(100vh - 60px);
    padding: 0 5% 5% 5%;
  }

  justify-content: center;
  align-items: center;
}

.box {
  width: 38vw;
  height: 22vw;
  max-height: 307px;
  max-width: 536px;
  background: #ECECEC;
  border-radius: 8px;
  box-shadow: 0px 2px 2px rgba(0, 0, 0, 0.25);
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;

  @media (max-width: 1300px) {
    height: 28vw;
  }

  @media (max-width: 700px) {
    height: 35vw;
  }
}

.input {
  width: 25vw;
  line-height: 38px;
  box-shadow: 0px 3px 4px rgba(0, 0, 0, 0.13);
  border-radius: 4px;
  border: none;
  padding: 0 5px 0 5px;
}

.button {
  color: #FFFFFF;
  height: 38px;
  background: #65A944;
  border: 1px solid #65A944;
  box-shadow: 0px 3px 4px rgba(0, 0, 0, 0.13);
  border-radius: 4px;
  padding: 0 15px 0 15px;
  cursor: pointer;
}

.inputGroup {
  margin: 2.5rem 0 2.5rem 0;
}

.information {
  width: 38vw;
  max-width: 536px;
  box-shadow: 0px 2px 2px rgba(0, 0, 0, 0.25);
  border-radius: 8px;
  opacity: 0;
  transition: all .2s;
  height: 8vw;
  margin-top: 1rem;
  padding: 1rem;

  span {
    color: #FFFFFF;
  }

  @media (max-width: 1300px) {
    height: 8vw;
  }

  @media (max-width: 700px) {
    height: 25vw;
  }

  &.open {
    opacity: 1;
  }

  &.success {
    background: #65A944;
  }

  &.fail {
    background: #B11A1A;
  }
}