/*
 * Shortcode: element-holder.scss
 * -----------------------------------------------
*/
.tm-element-holder {
	.tm-element-holder-wrapper {
		background-position: center;
		background-size: cover;
		display: table-cell;
		vertical-align: middle;
		height: 100%;
		width: 100%;
		position: relative;
		z-index: 45;
	}
	.tm-element-holder-bg-text {
		display: block;
		position: absolute;
		line-height: 1;
		font-size: 100px;
		font-weight: bold;
		color: #f5f5f5;
	}
}