/*
 * Shortcode: flickr-feed.scss
 * -----------------------------------------------
*/
.flickr-feed {
	a {
		margin: 0px 7px 7px 0;
		width: 70px;
		height: 70px;
		float: left;
		background: 0 0;
		padding: 0;
	}
}