/*
 * Shortcode: paroller.scss
 * -----------------------------------------------
*/
.tm-paroller-object {
	position: absolute;
	z-index: -1;
	width: 100%;
    font-size: 10rem;
    font-weight: bold;
}