/*
 * pie-chart.scss
 * -----------------------------------------------
*/
.tm-sc-pie-chart {
	text-align: center;
	.pie-chart {
		position: relative;
		width: 110px;
		height: 110px;
		margin-top: 0;
		margin-bottom: 0;
		margin-left: auto;
		margin-right: auto;
		display: flex;
		align-items: center;
		canvas {
			position: absolute;
			top: 0;
			left: 0;
		}
		.percent {
			position: absolute;
			left: 0;
			right: 0;
			line-height: 110px;
			font-size: 1.3rem;
			z-index: 2;
			&:after {
				content: '%';
				margin-left: 0.1em;
				font-size: .8em;
			}
		}
	}
}
