/*
 * Shortcode: working-steps.scss
 * -----------------------------------------------
*/
.tm-sc-working-steps {
	&.working-steps-horizontal {
		position: relative;
		.working-steps-bg-holder {
			position: absolute;
			top: 20px;
			left: -5%;
			width: 120%;
			height: 100%;
			background-image: url("../../assets/images/shortcodes/working-steps-bg.png");
			background-position: 50% 0;
			background-repeat: no-repeat;
			z-index: -1;
			opacity: 1;
			margin: 0 -100px;
			&:after {
				content: "";
				transform-origin: right;
				-webkit-transform: scale(1, 1);
				-moz-transform: scale(1, 1);
				transform: scale(1, 1);
				-webkit-transition: -webkit-transform 1s linear .2s;
				-moz-transition: -moz-transform 1s linear .2s;
				transition: transform 1s linear .2s;
				position: absolute;
				display: block;
				width: 100%;
				height: 100%;
				top: 0;
				left: 0;
			}
			&.working-steps-bg-appeared:after {
				-webkit-transform: scale(0, 1);
				-moz-transform: scale(0, 1);
				transform: scale(0, 1);
			}
		}
		.working-steps-inner {
			&:after, &:before {
				content: "";
				display: table;
			}
			&:after {
				clear: both;
			}
			.tm-sc-working-steps-item {
				text-align: center;
				float: left;
				width: 25%;
				padding: 10px;
				.working-steps-item-inner {
					width: 73%;
				}
				.image-holder-wrapper {
					position: relative;
					.image-holder {
						background-color: #fff;
						display: flex;
						width: 200px;
						height: 200px;
						border: 8px solid rgba(238, 238, 238, 0.5);
						padding: 0;
						margin-bottom: 20px;
						margin-left: auto;
						margin-right: auto;
						border-radius: 50%;
						box-sizing: border-box;
						position: relative;
						@include transition( all .3s ease-in-out);
						.image-holder-inner {
							border-radius: 50%;
							width: 100%;
							-ms-flex-item-align: center;
							align-self: center;
							img {
								@include scale(1);
								-webkit-transition: transform 0.5s cubic-bezier(.57,.04,.06,.84), opacity 0s;
								transition: transform 0.5s cubic-bezier(.57,.04,.06,.84), opacity 0s;
							}
						}

						.tag {
							background-color: #222013;
							color: #fff;
							height: 56px;
							width: 56px;
							font-size: 14px;
							line-height: 56px;
							text-align: center;
							border-radius: 50%;
							position: absolute;
							font-weight: 700;
							bottom: 5px;
							right: -5px;
							@include transition( all .3s ease-in-out);
						}
					}
				}
				&.image-full-bg {
					.image-holder-wrapper {
						.image-holder {
							.image-holder-inner {
								overflow: hidden;
								img {
									width: 100%;
								}
							}
						}
					}
				}
				&.working-steps-item-highlighted {
					.image-holder {
						width: 90%;
						height: 90%;
						max-width: 250px;
						margin-top: -40px;
					}
					.working-steps-item-inner {
						width: 95%;
					}
				}
				&.working-steps-push-right {
					.working-steps-item-inner {
						float: right;
					}
				}
				&:hover {
					.image-holder-wrapper {
						.image-holder {
							.image-holder-inner {
								img {
									transform: rotateY(180deg);
								}
							}

							.tag {
								transform: rotate(360deg);
							}
						}
					}
				}
			}
		}
		&.working-steps-items-three .tm-sc-working-steps-item {
			width: 33.33%;
		}
		&.working-steps-items-four .tm-sc-working-steps-item {
			width: 25%;
		}
		.title-holder {
			margin-bottom: 7px;
		}
		.text-holder {
			p {
				color: #888;
			}
		}
		.text-holder p, .title {
			margin: 0;
		}
	}
}


@media only screen and (max-width:1440px) {
	.tm-sc-working-steps {
		&.working-steps-horizontal {
			.working-steps-inner {
				.tm-sc-working-steps-item {
					.working-steps-item-inner {
						width: 100%;
					}
				}
			}
		}
	}
}
@media only screen and (max-width:1366px) {
	.tm-sc-working-steps {
		&.working-steps-horizontal {
			.working-steps-bg-holder {
				background-size: contain;
				margin: 0 -100px;
			}
		}
	}
}

@include media-breakpoint-down(xl) {
	.tm-sc-working-steps {
		&.working-steps-horizontal {
			.working-steps-inner {
				.tm-sc-working-steps-item {
					.working-steps-item-inner {
						width: 80%;
					}
					.image-holder {
						width: 85%;
					}
					&.working-steps-item-highlighted {
						.image-holder {
							width: 90%;
							height: 90%;
							margin-top: -40px;
						}
					}
				}
			}
		}
	}
}

@include media-breakpoint-down(lg) {
	.tm-sc-working-steps {
		&.working-steps-horizontal {
			margin-top: 0;
			.working-steps-bg-holder {
				display: none;
			}
			&.working-steps-items-four {
				.working-steps-inner {
					.tm-sc-working-steps-item {
						width: 50%;
						margin-bottom: 30px;
						.working-steps-item-inner {
							width: 100%;
						}
						.image-holder {
							width: 65%;
							max-width: 200px;
						}
						.content-holder {
							padding: 0 20px;
						}
						&.working-steps-item-highlighted {
							.image-holder {
								width: 80%;
								height: 80%;
								margin-top: 0;
							}
						}
					}
				}
			}
		}
	}
}
@include media-breakpoint-down(md) {
	.tm-sc-working-steps {
		&.working-steps-horizontal {
			.working-steps-inner {
				.tm-sc-working-steps-item {
					width: 100%;
					margin-bottom: 30px;
					.working-steps-item-inner {
						width: 100%;
					}
					.image-holder {
						width: 65%;
						max-width: 200px;
					}
					&.working-steps-item-highlighted {
						.image-holder {
							width: 70%;
							height: 70%;
							margin-top: 0;
						}
					}
				}
			}
		}
	}
}