/* Modern Header */
.modern-header {
  &.modern-header-theme-colored1 {
    .header-nav {
      .header-nav-wrapper {
        &:not(.scroll-to-fixed-fixed) {
          nav {
            background: $theme-color1;
          }
        }
        .menuzord-menu > li:not(.active):not(:hover) {
          > a {
            @include media-breakpoint-up(lg) {
            }
          }
        }
        &.scroll-to-fixed-fixed {
          background: $theme-color1;
        }
      }
    }
  }
}

/* -------- Text Theme Color ---------- */
.text-theme-colored1 {
  color: $theme-color1 !important;
}
.text-hover-theme-colored1 {
  &:hover {
    color: $theme-color1 !important;
  }
}
ul.list.theme-colored1 li:before,
ul.list.theme-colored1.angle-double-right li:before,
ul.list.theme-colored1.angle-right li:before,
ul.list.theme-colored1.check-circle li:before,
ul.list.theme-colored1.check li:before,
.list-icon.theme-colored1 li i {
  color: $theme-color1;
}

/* -------- border-theme-color ---------- */
.border-theme-colored1 {
  border-color: $theme-color1 !important;
}
.border-1px-theme-colored1 {
  border: 1px solid $theme-color1;
}



/* -------- bg-theme-color ---------- */
.bg-theme-colored1 {
  background-color: $theme-color1 !important;
}
.bg-hover-theme-colored1 {
  &:hover {
    background: $theme-color1 !important;
    border-color: $theme-color1 !important;
    color: $white-base !important;
    
    h1,h2,h3,h4,h5,h6,p,a,i {
      color: $white-base !important;
    }
  }
}
.list-icon.theme-colored1.square li i,
.list-icon.theme-colored1.rounded li i {
  background: $theme-color1;
}
/* -------- lighter/darker bg Color ---------- */
.bg-theme-colored1-lighter2 {
  background-color: lighten($theme-color1, 2%) !important;
}
.bg-theme-colored1-lighter3 {
  background-color: lighten($theme-color1, 3%) !important;
}
.bg-theme-colored1-lighter4 {
  background-color: lighten($theme-color1, 4%) !important;
}
.bg-theme-colored1-lighter5 {
  background-color: lighten($theme-color1, 5%) !important;
}
.bg-theme-colored1-lighter6 {
  background-color: lighten($theme-color1, 6%) !important;
}
.bg-theme-colored1-lighter7 {
  background-color: lighten($theme-color1, 7%) !important;
}
.bg-theme-colored1-lighter8 {
  background-color: lighten($theme-color1, 8%) !important;
}
.bg-theme-colored1-lighter9 {
  background-color: lighten($theme-color1, 9%) !important;
}
.bg-theme-colored1-darker2 {
  background-color: darken($theme-color1, 2%) !important;
}
.bg-theme-colored1-darker3 {
  background-color: darken($theme-color1, 3%) !important;
}
.bg-theme-colored1-darker4 {
  background-color: darken($theme-color1, 4%) !important;
}
.bg-theme-colored1-darker5 {
  background-color: darken($theme-color1, 5%) !important;
}
.bg-theme-colored1-darker6 {
  background-color: darken($theme-color1, 6%) !important;
}
.bg-theme-colored1-darker7 {
  background-color: darken($theme-color1, 7%) !important;
}
.bg-theme-colored1-darker8 {
  background-color: darken($theme-color1, 8%) !important;
}
.bg-theme-colored1-darker9 {
  background-color: darken($theme-color1, 9%) !important;
}

/* -------- Transparent bg Color ---------- */
.bg-theme-colored1-transparent-9 {
  background-color: rgba($theme-color1, .90) !important;
}
.bg-theme-colored1-transparent-8 {
  background-color: rgba($theme-color1, .80) !important;
}
.bg-theme-colored1-transparent-7 {
  background-color: rgba($theme-color1, .70) !important;
}
.bg-theme-colored1-transparent-6 {
  background-color: rgba($theme-color1, .60) !important;
}
.bg-theme-colored1-transparent-5 {
  background-color: rgba($theme-color1, .50) !important;
}
.bg-theme-colored1-transparent-4 {
  background-color: rgba($theme-color1, .40) !important;
}
.bg-theme-colored1-transparent-3 {
  background-color: rgba($theme-color1, .30) !important;
}
.bg-theme-colored1-transparent-2 {
  background-color: rgba($theme-color1, .20) !important;
}
.bg-theme-colored1-transparent-1 {
  background-color: rgba($theme-color1, .10) !important;
}
.bg-theme-colored1-transparent {
  background-color: rgba($theme-color1, .50) !important;
}

/* -------- btn-themr-color ---------- */
.text-theme-colored1 {
  .btn-plain-text,
  .btn-plain-text-with-arrow {
      color: $theme-color1 !important;
  }
}

/* -------- layer overlay Color ---------- */
.layer-overlay {
  /* .overlay-theme-colored1 */
  &.overlay-theme-colored1 {
    &::before {
      background-color: rgba($theme-color1, .80) !important;
    }
  }
  &.overlay-theme-colored1-1 {
    &::before {
      background-color: rgba($theme-color1, .10);
    }
  }
  &.overlay-theme-colored1-2 {
    &::before {
      background-color: rgba($theme-color1, .20);
    }
  }
  &.overlay-theme-colored1-3 {
    &::before {
      background-color: rgba($theme-color1, .30);
    }
  }
  &.overlay-theme-colored1-4 {
    &::before {
      background-color: rgba($theme-color1, .40);
    }
  }
  &.overlay-theme-colored1-5 {
    &::before {
      background-color: rgba($theme-color1, .50);
    }
  }
  &.overlay-theme-colored1-6 {
    &::before {
      background-color: rgba($theme-color1, .60);
    }
  }
  &.overlay-theme-colored1-7 {
    &::before {
      background-color: rgba($theme-color1, .70);
    }
  }
  &.overlay-theme-colored1-8 {
    &::before {
      background-color: rgba($theme-color1, .80);
    }
  }
  &.overlay-theme-colored1-9 {
    &::before {
      background-color: rgba($theme-color1, .90);
    }
  }
}



/*
 * Shortcode: styled-icons Theme Colored
 * -----------------------------------------------
*/
.icon-theme-colored1 {
  a {
    color: $theme-color1;
  }

  &.icon-bordered {
    a {
      border-color: $theme-color1;

      &:hover {
        background-color: $theme-color1;
        color: $white-base;
      }
    }
  }

  &.icon-dark {
    a {
      background-color: $theme-color1;
      color: #111;

      &:hover {
        background-color: darken($theme-color1, 10%);
      }
    }

    &.icon-bordered {
      a {
        border-color: $theme-color1;
        color: $theme-color1;

        &:hover {
          background-color: $theme-color1;
          border-color: $theme-color1;
          color: $white-base;
        }
      }
    }
  }

  &.icon-gray {
    a {
      color: $theme-color1;

      &:hover {
        color: #fff;
        background-color: $theme-color1;
      }
    }

    &.icon-bordered {
      a {
        color: $theme-color1;

        &:hover {
          background-color: $gray-lighter;
          border-color: $gray-lighter;
          color: $theme-color1;
        }
      }
    }
  }
}

.icon-theme-colored1 {
  a {
    &:hover {
    }
  }  
}

.icon-hover-theme-colored1 {
  a {
    &:hover {
      background-color: $theme-color1;
      border-color: $theme-color1;
      color: $white-base;
    }
  }  
}

.styled-icons.icon-hover-theme-colored1 {
  a {
    &:hover {
      background-color: $theme-color1;
      border-color: $theme-color1;
      color: $white-base;
    }
  }  
}

/*
 * Shortcode: Icon Boxes Theme Colored
 * -----------------------------------------------
*/
$icon-box: '.icon-box.iconbox-theme-colored1';
.icon-box{
  &.iconbox-theme-colored1 {
    .icon {
      color: $theme-color1;

      &.icon-border-effect {
        &::after {
          box-shadow: 0 0 0 3px $theme-color1;
        }
      }

      &.icon-bordered {
        border-color: $theme-color1;
      
        @at-root {
          #{$icon-box}:hover .icon {
            &.icon-bordered {
              background-color: $theme-color1;
              color: $white-base;
            }
          }
        }
      }

      &.icon-gray {
        &.icon-bordered {
          border-color: $gray-lighter;
        }
      
        @at-root {
          #{$icon-box}:hover .icon {
            &.icon-gray {
              background-color: $theme-color1;
              color: $white-base;

              //icon bordered
              &.icon-bordered {
                background-color: $theme-color1;
                border-color: $theme-color1;
                color: $white-base;
              }
            }
          }
        }
      }

      &.icon-dark {
        background-color: $theme-color1;
        color: $white-base;

        &.icon-bordered {
          background-color: transparent;
          border-color: $theme-color1;
          color: $theme-color1;
        }
      
        @at-root {
          #{$icon-box}:hover .icon {
            &.icon-dark {
              color: $white-base;

              //icon bordered
              &.icon-bordered {
                background-color: $theme-color1;
                border-color: $theme-color1;
                color: $white-base;
              }
            }
          }
        }
      }



      &.icon-white {
        background-color: $white-base;
        color: $theme-color1;

        &.icon-bordered {
          background-color: transparent;
          border-color: $theme-color1;
          color: $white-base;
        }
      
        @at-root {
          #{$icon-box}:hover .icon {
            &.icon-white {
              background-color: $theme-color1;
              color: $white-base;

              //icon bordered
              &.icon-bordered {
                background-color: $theme-color1;
                border-color: $theme-color1;
                color: $white-base;
              }
            }
          }
        }
      }
    }

    &.iconbox-border {
      border-color: $theme-color1;
    }
  }
}



/*
 *  accordion.scss
 * -----------------------------------------------
*/
.accordion-theme-colored1 {
  .panel-default > .panel-heading {
    background-color:$theme-color1;
    .panel-title > a,
    .panel-title > a:hover,
    .panel-title > a:focus {
      color: #fff;
    }
  }
}

.panel-group {
  &.accordion-classic-theme-colored1 {
    .panel-heading {
      .panel-title {
        a {
          &.active {
            &:before {
              background: $theme-color1;
            }
          }
        }
      }
    }
  }
  &.accordion-classic-theme-colored1-filled {
    .panel-heading {
      background: $theme-color1;
      .panel-title {
        a {
          color: #fff;
          &:before {
            background: darken($theme-color1, 3%);
              color: #fff;
          }
          &.active {
            &:before {
              background: darken($theme-color1, 13%);
            }
          }
        }
      }
    }
  }
  &.accordion-classic-theme-colored11 {
    .panel-heading {
      background: $theme-color1;
      .panel-title {
        a {
          color: #fff;
          &:before {
            background: darken($theme-color1, 5%);
              color: #fff;
          }
          &.active {
            &:before {
              background: $theme-color1;
            }
          }
        }
      }
    }
  }
}
.panel-group {
  &.accordion-icon-filled {
    &.accordion-icon-left {
      &.accordion-icon-filled-theme-colored1 {
        .panel-heading {
          .panel-title {
            a {
              &:before {
                background-color:$theme-color1;
              }
            }
          }
        }
      }
    }
    &.accordion-icon-right {
      &.accordion-icon-filled-theme-colored1 {
        .panel-heading {
          .panel-title {
            a {
              &:after {
                background-color:$theme-color1;
              }
            }
          }
        }
      }
    }
  }
}


.line-bottom-theme-colored1 {
	&:after, &:before {
		background: $theme-color1;
	}
}
/*
 * widget
 * -----------------------------------------------
*/
.widget, footer#footer .widget {
  .widget-title {
    &.widget-title-line-bottom.line-bottom-theme-colored1 {
      &:after {
        background: rgba($theme-color1, 0.3);
      }
    }
  }
}