/*
 * mailchimp-subscribe-form.scss
 * -----------------------------------------------
*/
.mc4wp-form {
	.form-control {
		background-color: $black-333;
		border-color: $black-444;
		border-radius: 0;
		box-shadow: none;
		color: $black-888;
		height: 50px;
		font-size: 13px;
	}
	.input-group-btn {
		.btn {
			padding: 10px 16px 10px;
			background-color: $black-555;
			border-color: $black-555;
			color: $gray-eee;
			border-radius: 0;
			&:hover {
				background-color: $black-444;
			}
		}
	}
	
}