/*
 * sidebar-nav-menu.scss
 * -----------------------------------------------
*/


//style 1
.tm-sidebar-nav-menu-style1 {
	.widget.widget_nav_menu {
		ul {
			> li {
				margin: 0;
				padding: 0;
				&::before {
					content: "";
				}
				> a {
					color: #012446;
					background: #f5f5f5;
					font-weight: $font-weight-bold;
					text-decoration: none;
					border-left: 5px solid transparent;
					border-bottom: 1px solid #fff;
					display: block;
					padding: 16px;
					@include transition(all .3s ease);
					&:hover {
						border-left-color: #b798e0;
					}
				}

				&.active {
					a {
						border-left-color: #b798e0;
					}
				}
			}
		}
	}
}


//style 2
.tm-sidebar-nav-menu-style2 {
	.widget.widget_nav_menu {
		ul {
			> li {
				padding: 0;
				@include transition(all 100ms ease-in-out 0s);
				&::before {
					left: auto;
					right: 18px;
					top: 15px;
					font-size: 18px;
				}
				a {
					background: #eef0f3;
					border-left: 1px solid #eef0f3;
					border-bottom: 1px solid #fff;
					color: #333;
					font-weight: $font-weight-bold;
					display: block;
					padding: 16px;
					&:hover {
						background: #fff;
						border-left: 5px solid #eee;
					}
				}
				&.active {
					a {
						background: #fff;
						border-left: 5px solid #eee;
					}
				}
				&:first-child {
					a {
						border-top: 1px solid #f5f5f5;
					}
				}
			}
		}
	}
}