/*
 * Shortcode: services.scss
 * -----------------------------------------------
*/
.service-item-current-style1 {
  background-color: $white;
  padding: 60px 74px 50px;
  @media (min-width: 13.98px) {
    padding: 60px 34px 50px;
  }
  &:after {
    top: auto;
    bottom: 0;
    content: "";
    height: 0;
    left: 0;
    position: absolute;
    height: 0;
    opacity: 0;
    width: 100%;
    z-index: -2;
    @include transition(all .4s ease-in-out);
  }
  .service-icon {
    border-radius: 52.06px 59.91px 52.09px 42.12px;
    height: 113px;
    line-height: 108px;
    width: 113px;
    @include transition(all .4s ease-in-out);
    img {
      @include transition(all .4s ease-in-out);
    }
  }
  .service-title {
    @include transition(all .3s ease-in-out);
  }
  .service-details {
    @include transition(all .3s ease-in-out);
  }
  .line-style {
    height: calc(100% - 40px);
    left: 20px;
    position: absolute;
    top: 50%;
    @include translate(0px, -50%);
    z-index: -1;

    &:after {
      background-color: #f4f3ef;
      content: "";
      height: 100%;
      left: 0;
      position: absolute;
      top: 0;
      width: 2px;
    }
    &:before {
      content: "";
      height: 0;
      left: 0;
      position: absolute;
      top: auto;
      bottom: 0;
      width: 2px;
      @include transition(all .7s ease-in-out);
      z-index: 1;
    }
  }
  .floating-object-1 {
    height: 112px;
    position: absolute;
    right: -30px;
    top: -30px;
    width: 113px;
  }
  &:hover {
  &:after {
    top: 0;
    opacity: 1;
    height: 100%;
    bottom: auto;
  }
  .service-icon {
    img {
      filter: brightness(0.23);
    }
  }
  .service-title {
    color: $white;
  }
  .service-details {
    color: $white;
  }
  .line-style {
      &:before {
        height: 100%;
        top: 0;
        bottom: auto;
      }
    }
  }
}