/*
 * Shortcode: staff.scss
 * -----------------------------------------------
*/
.team-item {
	background: #fff;
	text-align: center;
	padding: 30px;
	box-shadow: 0px 10px 60px 0px rgba(0, 0, 0, 0.07);
	border-radius: 15px;
	@include transition(all 300ms ease-in-out 0s);
	.team-thumb {
		position: relative;
		.team-social {
			position: absolute;
			bottom: 0;
			left: 0;
			right: 0;
			.styled-icons {
				&.icon-team-list {
					li {
						a {
							background: #F8F7FC;
							color: #fff;
							height: 52px;
							width: 52px;
							line-height: 52px;
							border: none;
							font-size: 18px;
							@include transition(all 300ms ease-in-out 0s);
							&:hover {
								color: #fff;
							}
						}
						&:nth-child(1) {
							position: absolute;
							opacity: 0;
							left: -10px;
							bottom: -20px;
							z-index: 10;
							@include transition(all 200ms ease-in-out 0s);
						}
						&:nth-child(2) {
							position: absolute;
							opacity: 0;
							left: 0;
							right: 0;
							bottom: -40px;
							@include transition(all 300ms ease-in-out 0s);
						}
						&:nth-child(3) {
							opacity: 0;
							position: absolute;
							right: 0px;
							bottom: -20px;
							@include transition(all 200ms ease-in-out 0s);
						}
					}
				}
			}
		}
		img {
			border-radius: 50%;
		}
	}
	.team-content {
		.team-information {
			margin-top: 30px;
			.team-name {
				line-height: 36px;
				font-size: 24px;
			}
			.designation {
				font-size: 16px;
			}
		}
	}
	&:hover {
		.team-thumb {
			.team-social {
				.styled-icons {
					&.icon-team-list {
						li {
							a {
								&:hover {
								}
							}
							&:nth-child(1) {
								left: 20px;
								position: absolute;
								bottom: 0;
								z-index: 10;
								opacity: 1;
								@include transition(all 400ms ease-in-out 0s);
								@include media-breakpoint-only(xs) {
									left: 30px;
									bottom: -5px;
								}
								@include media-breakpoint-only(lg) {
									left: 80px;
									bottom: -10px;
								}
							}
							&:nth-child(2) {
								position: absolute;
								left: 0;
								right: 0;
								bottom: -20px;
								opacity: 1;
								@include transition(all 500ms ease-in-out 0s);
							}
							&:nth-child(3) {
								position: absolute;
								right: 20px;
								bottom: 0;
								opacity: 1;
								@include transition(all 400ms ease-in-out 0s);
								@include media-breakpoint-only(xs) {
									right: 30px;
									bottom: -5px;
								}
								@include media-breakpoint-only(lg) {
									right: 80px;
									bottom: -10px;
								}
							}
						}
					}
				}
			}
			img {
				border-radius: 50%;
			}
		}
		.team-content {
			.team-information {
				.team-name,
				.designation {
					color: #fff;
				}
			}
		}
	}
}