/*
 * Shortcode: footer.scss
 * -----------------------------------------------
*/
footer#footer {
	background-color: $headings-color;
	color: #b9c0bb;
	.footer-widget-area {
		.widget-title {
			font-size: 1.375rem;
		}
		.tm-widget-contact-info {
			&.contact-info-style1 {
				ul {
					li {
						border-bottom: 1px solid rgba($white, .1);
						margin-bottom: 22px;
						padding-bottom: 20px;
						.icon {
							width: 30px;
							margin-top: 7px;
							margin-right: 20px;
						}
						.text {
							a {
								color: $white;
								font-size: 15px;
								font-weight: $font-weight-medium;
							}
							span {
								color: #b8bfbb;
								font-size: 13px;
								display: block;
								font-weight: $font-weight-medium;
							}
						}
					}
				}
			}
		}
		.widget {
			.post {
				padding-right: 5px;
				.post-thumb {
					float: left;
					margin-right: 20px;
					margin-top: 0;
					width: 70px;
					img {
						border-radius: 0;
					}
				}
				.post-right {
					.post-title {
						line-height: 1.6;
						a {
							color: $white;
							font-size: 0.9375rem;
							font-weight: $font-weight-medium;
							line-height: 1.6;
						}
					}
					.post-date {
						.entry-date {
							font-size: 0.75rem;
							letter-spacing: 2px;
						}
					}
				}
			}
		}
	}
	.footer-bottom {
		border-top: 1px solid rgba($white, .1);
		.footer-bottom-style1 {
			align-items: center;
			display: flex;
			padding: 32px 0 32px;
			justify-content: space-between;
		}
	}
}
footer#footer {	
	.widget {
		&.widget_nav_menu {		
			.menu-footer-page-list {
				ul {
					li {
						line-height: 2.9;
						padding-left: 15px;
						&:before {
							font-size: 12px;
							color: #b9c0bb;
							line-height: 3.8;
						}
						a {
							font-size: 0.9375rem;
							font-weight: $font-weight-normal;
							line-height: 2.9;
							&:hover {
								color: $white;
							}
						}
					}
				}
			}
		}
	}
}
.newsletter-form {
	&.cp-newsletter {
		input {
			border-radius: 0 !important;
		}
	}
}