/*
 * form.scss
 * -----------------------------------------------
*/
.tm-cf7-subscription-form-round-btn {
	.wpcf7-form-control.wpcf7-text {
		height: 78px;
		padding: 0 30px;
		font-size: 14px;
		background: #f4f6fb;
		border: none;
		border-bottom: 1px solid #fff;
		opacity: 1;
		border-radius: 5px;
	}
	.submit-btn {
		position: absolute;
		right: 7px;
		top: 59%;
		transform: translateY(-50%);
	}
}

//Masim Contact Form
.contact-form input.form-control {
	border: none;
	background: #fff;
	height: 70px;
	margin-bottom: 0;
	border-top: 1px solid #e4e4e4;
	border-bottom: 1px solid #e4e4e4;
	border-radius: 50px;
}
.contact-form textarea.form-control {
	border-radius: 10px;
}
.subscribe-icon {
	float: left;
	margin-top: 5px;
	margin-right: 20px;
}
.subscribe-text {
	overflow: hidden;
	margin: 0;
	line-height: 34px;
	font-weight: 700;
	font-size: 24px;
	color: #fff;
	text-transform: uppercase;
}
.newsletter-form {
	padding: 0 60px;
	margin-top: -40px;
}
.newsletter-form input {
	background: #031337;
	border: none;
	border-radius: 55px !important;
	padding: 0 30px;
}
.newsletter-form .newsletter-btn {
	position: absolute;
	right: 10px;
	border-radius: 70px !important;
	top: 8px;
	z-index: 9;
}