/*
 * Shortcode: funfacts.scss
 * -----------------------------------------------
*/
.tm-sc-funfact {
	&.funfact-current-style {
		box-shadow: 0 10px 30px rgba(0,0,0,.07);
		border-radius: 10px;
		overflow: hidden;
		&:after {
			position: absolute;
			left: -2px;
			bottom: 0px;
			width: 100%;
			height: 4px;
			content: '';
			background-image: -moz-linear-gradient(0deg, #313131 0%, #bdc0c3 100%);
			background-image: -webkit-linear-gradient(0deg, #313131 0%, #bdc0c3 100%);
			background-image: -ms-linear-gradient(0deg, #313131 0%, #bdc0c3 100%);
			-ms-transform: translateX(-100%);
			-webkit-transform: translateX(-100%);
			transform: translateX(-100%);
			visibility: hidden;
			opacity: 0;
			@include transition(all 0.5s ease-in);
		}
		.funfact-inner {
		}
		&:hover {
			box-shadow: 0 10px 30px rgba(0,0,0,.15);
			&:after {
				-ms-transform: translateX(0%);
				-webkit-transform: translateX(0%);
				transform: translateX(0%);
				visibility: visible;
				opacity: 1;
			}
			.funfact-icon {
				transform: rotateY(180deg);
				i {
				}
			}
		}
	}
}
.funfact-area {
	padding: 30px 60px;
	background-image: url(../images/bg/bg1.jpg);
	border-radius: 15px;
	position: relative;
	&:after {
		position: absolute;
		content: "";
		height: 100%;
		width: 100%;
		left: 0;
		top: 0;
		opacity: 0.9;
		z-index: 0;
		border-radius: 10px;
	}
}
.tm-sc-funfact {
	.title {
		font-size: 16px;
		margin-top: 5px;
	}
}

.funfact-wrapper {
	padding: 70px;
	border-radius: 135px;
	margin-top: -380px;
	@include media-breakpoint-down(xl) {
		margin-top: 0;
		border-radius: 35px;
	}
	@include media-breakpoint-down(lg) {
		margin-top: 0;
	}
	.funfact-item {
		text-align: center;
		border-right: 1px solid #1e3264;
		@include media-breakpoint-down(lg) {
			border-right: 1px solid transparent;
		}
		.counter {
			position: relative;
	    font-size: 60px;
	    display: inline-block;
    	z-index: 1;
	    &:after {
		    content: "";
		    background: url(../images/circle-plus.png) no-repeat center right;
		    height: 100%;
		    width: 100%;
		    position: absolute;
		    right: -35px;
		    top: -15px;
		    z-index: -1;
			}
		}
		.title {
	    color: #748bc1;
		}
	}
}