/*
 * progress-bar.scss
 * -----------------------------------------------
*/
.tm-sc-progress.theme-style .tm-sc-progress-bar .progress-title-holder .percent {
	color: #000 !important;
	bottom: 0 !important;
}
.tm-sc-progress.theme-style .tm-sc-progress-bar .progress-holder .progress-content:after {
	content: none !important;
}