/*
 * Shortcode: section-title.scss
 * -----------------------------------------------
*/
.tm-sc-section-title {
	&.section-title {
		.title-wrapper {
			.title-icon-img	{
				margin-bottom: 14px;
			}
			.title {
				font-weight: $font-weight-black;
				line-height: 1.22;
				margin-bottom: 32px;
				@include media-breakpoint-down(xl) {
					font-size: 2.32rem;
					margin-bottom: 15px;
				}
				@include media-breakpoint-down(lg) {
					margin-bottom: 12px;
				}
				@include media-breakpoint-down(md) {
					font-size: 2rem;
				}
			}
			.paragraph {
				font-size: 1.125rem;
				line-height: 1.89;
				@include media-breakpoint-down(xl) {
					font-size: 1rem;
				}
			}
		}
	}
}