/*
 * Shortcode: working-steps.scss
 * -----------------------------------------------
*/
.tm-sc-working-steps {
	&.working-steps-horizontal {
		.working-steps-bg-holder {}
		.working-steps-inner {
			.tm-sc-working-steps-item {
				.working-steps-item-inner {}
				.image-holder-wrapper {
					.image-holder {
						.image-holder-inner {
							img {
								max-width: 70px;			
								@include scale(0.8);
							}
						}

						.tag {}
					}
				}
				&:hover {
					.image-holder-wrapper {
						.image-holder {
							.image-holder-inner {
								img {
								}
							}
						}
					}
				}
			}
		}
	}
}