.container {
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  min-height: calc(100vh - 310px);
  width: 100vw;
  margin-top: 80px;

  @media (max-width: 750px) {
    min-height: calc(100vh - 350px);
    padding: 0 5% 5% 5%;
  }

  .box {
    width: 36vw;
    height: auto;
    background: #ECECEC;
    padding: 2rem;
    border-radius: 8px;
    box-shadow: 0px 2px 2px rgba(0, 0, 0, 0.25);
    
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
  
    @media (max-width: 1600px) {
      width: 40vw;
    }

    @media (max-width: 1110px) {
      width: 56vw;
    }

    @media (max-width: 900px) {
      width: 66vw;
    }
  
    @media (max-width: 700px) {
      width: 76vw;
    }

    .title {
      font-weight: 600;
      font-size: 30px;
      line-height: 37px;
    }

    .inputGroup {
      margin: 2.5rem 0 2.5rem 0;

      .input {
        width: 23vw;
        line-height: 38px;
        box-shadow: 0px 3px 4px rgba(0, 0, 0, 0.13);
        border-radius: 4px;
        border: none;
        padding: 0 5px 0 5px;
        outline-style: none;

        @media (max-width: 1600px) {
          width: 23vw;
        }

        @media (max-width: 1300px) {
          width: 30vw;
        }

        @media (max-width: 900px) {
          width: 33vw;
        }

        @media (max-width: 700px) {
          width: 53vw;
        }
        
        @media (max-width: 520px) {
          width: 63vw;
        }

        &.success {
          background: #EEFBE8;
          border: 1px solid #65A944;
        }
      
        &.fail {
          background: #FFD1D1;
          border: 1px solid #A00E01;
        }
      }

      .inputError {
        color: #A00E01;
        opacity: 0.5;
        font-size: 14px;
      }
    }

    .button {
      color: #FFFFFF;
      height: 38px;
      background: #65A944;
      border: 1px solid #65A944;
      box-shadow: 0px 3px 4px rgba(0, 0, 0, 0.13);
      border-radius: 4px;
      padding: 0 15px 0 15px;
      cursor: pointer;

      @media (max-width: 365px) {
        height: 16vw;
      }
    }
  }

  .information {
    width: 36vw;
    height: auto;
    box-shadow: 0px 2px 2px rgba(0, 0, 0, 0.25);
    border-radius: 8px;

    transition: all .5s;
    margin-top: 1rem;
    padding: 1rem;
    color: #FFFFFF;
    display: none;
  
    @media (max-width: 700px) {
      width: 76vw;
    }

    .infotext {
      display: flex;
      justify-content: center;
      align-items: center;
  
      .first {
        width: 90%;
      }
  
      .second {
        text-align: center;
        text-decoration-line: underline;
      }
    }
  
    &.open {
      display: block !important;
    }
  
    &.success {
      background: #65A944;
    }
  
    &.fail {
      background: #B11A1A;
    }
  }
}
