.container {
    background-color: var(--orange);
    color: var(--white);
    height: 40px;
    border-radius: 5px;
    text-align: center;
    display: inline-block;
    line-height: 40px;
    cursor: pointer;
    font-family: 'Aprova';
    padding: 0px 18px 0px 18px;
    font-size: 1em;
}

.container:hover {
    background-color: var(--orange-hover);
    transition: background-color 500ms linear;
}