.container {
    background-color: #EA9B02;
    color: #ffffff;
    height: 40px;
    border-radius: 5px;
    text-align: center;
    display: inline-block;
    line-height: 40px;
    cursor: pointer;
    font-family: 'Aprova';
    padding: 0px 18px 0px 18px;
    font-size: 1em;
}

.container:hover {
    background-color: #B67901;
    transition: background-color 500ms linear;
}