/*
 *  cpt-works.scss
 * -----------------------------------------------
*/
.work-archive {
	.work-single {
		.cat-list {
			background: rgba($theme-color1, .70);
		}

		.btn-plain-text {
			&:after {
				background: $theme-color1;
			}
		}
		.btn-plain-text-with-arrow {
			&:focus, &:hover {
				&:after {
					color: $theme-color1;
				}
			}
		}
	}
}