.title {
     font-family: 'Aprova', sans-serif;;
    line-height: 50px;
    font-size: 2.5em;
    font-weight: 600;
}

@media screen and (max-width: 1024px) {
    .title {
        font-size: 1.8em;
        line-height: 35px;
    }
}