/*
 * _shop-widgets.scss
 * -----------------------------------------------
*/

.cart_list, .product_list_widget {
	list-style: none outside;
	padding: 0;
	margin: 0;
	li {
		border-bottom: 1px solid #eee;
		margin: 6px 0;
		padding: 6px 0 12px;
		@include clearfix();
		list-style: none;
		&:last-child {
			border-bottom: none;
		}
		.product-left {
			float: left;
			margin-right: 15px;
			width: 80px;
			a {
				display: block;
				line-height: 20px;
				img {
					border: 1px solid #ebf0e6;
					border-radius: 4px;
					@include box-shadow( 0px 0 15px rgba(5, 5, 5, 0.05) );
				}
			}
		}
		.product-right {
			overflow: hidden;

			.product-title {
				color: #111;
				font-size: 1rem;
				display: block;
				line-height: 1.7;
			}
			.amount {
				display: inline-block;
				line-height: 1.3;
				margin: 10px 0 0;
				font-size: 0.95rem;
			}
		}
		a.remove {
			color: #e81123;
			float: left;
			font-size: 16px;
			font-weight: 800;
			margin-left: 0;
			margin-right: 6px;
			position: relative;
			top: -4px;
		}
		.attachment-shop_thumbnail {
			width: 64px;
		}

		dl {
			margin: 0;
			padding-left: 1em;
			border-left: 2px solid rgba(0, 0, 0, 0.1);
			@include clearfix();

			dt,
			dd {
				display: inline-block;
				float: left;
				margin-bottom: 1em;
			}

			dt {
				font-weight: 700;
				padding: 0 0 0.25em;
				margin: 0 4px 0 0;
				clear: left;
			}

			dd {
				padding: 0 0 0.25em;

				p:last-child {
					margin-bottom: 0;
				}
			}
		}

		del, ins {
			font-weight: 600;
		}
		.woocommerce-Price-amount {
			color: $woo_price_color;
		}
		ins {
			text-decoration: none;
		}
		del {
			margin-right: 5px;
			font-weight: 400;
			.woocommerce-Price-amount {
				color: #aaa;
			}
		}
		
		.star-rating {
			float: none;
		}
	}
}
