#container {
    width: 100%;
    display: flex;
    flex-direction: column;
    align-items: center;
    padding: 1.5em;
}

#container #title {
    color: var(--dark-gray);
     font-family: 'Aprova', sans-serif;
    font-style: normal;
    font-weight: 300;
    font-size: 2.8em;
    width: 100%;
    text-align: center;
}

.carousel{
    width: 100%;
    padding-left: 10em;
    padding-right: 10em;
    box-sizing: border-box;
    padding-bottom: 2em;
}

.innerSlide {
  display: flex;
  justify-content: center;
}

@media screen and (max-width: 1024px) {
    .carousel {
        padding: 0em;
    }
}

