#container {
    width: 100%;
    padding: 10px;
    font-size: 1.2em;
    color: var(--dark-gray);
    border-radius: 5px;
    border: none;
    margin-bottom: 16px;
    font-family: 'Aprova';
    font-style: normal;
    font-weight: normal;
    box-sizing: border-box;
}

#container:focus {
    outline: none;
}

.error {
    border: solid !important;
    border-color: red !important;
    border-width: 2px !important;
}

.error::placeholder {
    color: var(--red) !important;
}