.container {
    width: 100%;
    height: 355px;
    font-family: 'Aprova';
    display: flex;
    flex-direction: column;
    color: #fff;
    padding: 4.43rem 8.68rem;
    background-color: green;
    justify-content: space-between;
}

.title {
    width: 350px;
}

.subtitle {
    font-size: 2em;
    font-weight: 400;
}