.label {
  display: flex;
  position: relative;
  height: 40px;
  width: 100%;
  &::after {
    content: url(../../public/icons/caret-down-fill.svg);
    color: var(--dark-gray);
    position: absolute;
    right:10px; top:10px;
  }

  select {
    width: 100%;
    height: 40px;
    font-size: 1em;
     font-family: 'Aprova', sans-serif;
    background-color: var(--white);
    border-radius: 5px;
    box-shadow: 0px 3px 4px rgba(88, 53, 94, 0.13);
    border: none;
    appearance: none;
    padding-left: 16px;
    padding-right: 16px;
  }
}

