#container {
    width: 100%;
    height: 230px;
    background-color: var(--gray-background);
    display: flex;
    padding: 0 8.68rem;
}

#block {
    display: inline-block;
    width: 25%;
}

#blockTop {
    height: 50%;
    display: flex;
    align-items: center;
    justify-content: center;
}

#blockLogo {
    width: 100%;
    height: 60%;
    background-image: url('/images/logo.svg');
    background-repeat: no-repeat;
    background-position: left center;
}

#blockBottom {
    height: 50%;
}

#blockSocialMediaText {
    font-family: 'Aprova';
    font-style: normal;
    font-weight: normal;
    font-size: 1.2em;
    line-height: 20px;
    text-align: left;
    color: var(--dark-gray);
}

#socialMediaBlock{
    display: flex;
    margin-top: 10px;
}

#linksBlock {
    width: auto;
    height: 100%;
    padding: 1.5em;
    display: flex;
    flex-direction: column;
}

#linksBlock a {
    font-size: 1.1em;
    font-family: 'Aprova';
    font-style: normal;
    font-weight: normal;
    text-decoration: underline;
    color: var(--dark-gray);
    margin-top: 10px;
}


/* Responsive Section */

@media screen and (max-width: 1024px) {
   
    #container {
        padding: 1.3rem;
        display: flex;
        flex-direction: column;
        height: auto;
    }

    #blockSocialMediaText {
        margin-top: 10px;
    }

    #block {
        width: 100%;
    }

    #blockLogo {
        height: 50px;
    }

    #blockTop {
        width: 100%;
    }

    #linksBlock {
        padding: 0;
    }


}