#container {
    width: 30px;
    height: 30px;
    cursor: pointer;
    margin: 5px;
    background-position: center center;
    background-size: contain;   
}

#container:first-child {
    margin-left: 0px;
}

.facebook {
    background-image: url('/icons/fb.svg');
}

.instagram {
    background-image: url('/icons/instagram.svg');
}

.linkedin {
    background-image: url('/icons/linkedin.svg');
}