/*
 * archive.scss
 * -----------------------------------------------
*/
body.archive .main-content-area article {
	margin-bottom: 20px;
	border-bottom: 1px solid rgba(240, 240, 240, 0.5);
}

body.archive.post-type-archive,
body.archive.tax-product_cat {
	.main-content-area {
		padding-bottom: ($container-pb) - 30px;
	}
}