/*
 * form.scss
 * -----------------------------------------------
*/
form label.error {
    margin-top: .25rem;
    font-size: .875em;
    color: #dc3545;
}
.select2 .selection {
	.select2-selection {
		background-color: #fff;
		border: 1px solid #e4e4e4;
		border-radius: 0;
		height: calc(2.25rem + 18px);
		padding: 8px 16px;
		border: 1px solid #ced4da;
		border-radius: 0;
		.select2-selection__rendered {
			color: #888;
			line-height: 36px;
			padding-left: 0;
		}
		.select2-selection__arrow {
			height: 36px;
			position: absolute;
			right: 6px;
			top: 6px;
			width: 20px;
		}
	}
}


.form-control, .input-text {
	height: form-control-height();
	padding: 14px 30px;
	outline: 0;
	background-color: #f4f5f8;
	border: 1px solid #f4f5f8;
	color: #686a6f;
	font-size: 0.9rem;
	width: 100%;
	&::placeholder {
		color: #686a6f;
		opacity: 1;
	}
	&:-ms-input-placeholder {
		color: #686a6f;
	}
	&::-ms-input-placeholder {
		color: #686a6f;
	}
}
textarea {
	&.form-control {
		height: auto;
		padding-top: 15px;
		padding-bottom: 15px;
	}
}

/*Contact Form Style1*/
.tm-contact-form-transparent {
	padding-right: 15px;	
	input[type=text],
	input[type=email],
	textarea {
		@include transition(all .3s ease);
	}

	input[type=text],
	input[type=email] {
		background: #fff;
		border: none;
		border-bottom: 1px solid #ddd;
		padding: 14px;
		padding-left: 0;
		margin-bottom: 28px;
		width: 100%;
	}
	textarea {
		background: #fff;
		border: none;
		border-bottom: 1px solid #ddd;
		width: 100%;
		padding: 15px;
		padding-left: 0;
		margin-bottom: 28px;
	}
	.form-submit-btn {
		padding: 12px 32px;
		margin-top: 20px;
		margin-bottom: 0;
		font-weight: 700;
		border: 2px solid transparent;
		color: #fff;
		transition: all 300ms;
	}
	.form-submit-btn:hover {
		border-width: 2px;
		border-style: solid;
		background: none;
	}
	.form-input-label {
		padding: 0;
		padding-left: 15px;
		line-height: 0;
		margin: 0;
	}
	input[type=submit] {
		margin-top: 15px;
	}
	&.white-form {
		input[type=text],
		input[type=email] {
			background: #ffffff;
			border: 1px solid #eee;
		}		
		textarea {
			background: #ffffff;
			border: 1px solid #eee;
		}
	}
}

/*Request A Call Back Form Style1*/
.tm-request-a-call-back-form1 {
	padding-right: 15px;	
	input[type=text],
	input[type=email],
	textarea,
	select {
		@include transition(all .3s ease);
	}

	input[type=text],
	input[type=email] {
		background: #ffffff;
		border: 1px solid #ddd;
		padding: 14px;
		margin-bottom: 28px;
		width: 100%;
	}	
	select {
		background: #ffffff;
		border: 1px solid #ddd;
		width: 100%;
		padding: 17px 14px;
	}
	textarea {
		background: #ffffff;
		border: 1px solid #ddd;
		width: 100%;
		padding: 15px;
	}
	.form-submit-btn {
		padding: 12px 32px;
		margin-bottom: 0;
		font-weight: 700;
		border: 2px solid transparent;
		color: #fff;
		transition: all 300ms;
	}
	.form-submit-btn:hover {
		border-width: 2px;
		border-style: solid;
		background: none;
	}
	.form-input-label {
		padding: 0;
		padding-left: 15px;
		line-height: 0;
		margin: 0;
	}
	&.white-form {
		input[type=text],
		input[type=email] {
			background: #ffffff;
			border: 1px solid #eee;
		}		
		textarea {
			background: #ffffff;
			border: 1px solid #eee;
		}
	}
}

/*Get Free Consulting*/
.tm-get-free-consulting-form1 {
	padding-right: 15px;	
	input[type=text],
	input[type=email],
	textarea,
	select {
		@include transition(all .3s ease);
	}
	input[type=text],
	input[type=email] {
		background: #ffffff;
		border: 1px solid #ddd;
		padding: 14px;
		width: 100%;
	}	
	select {		
		background: #ffffff;
		border: 1px solid #ddd;
		width: 100%;
		padding: 17px 14px;
	}
	.form-submit-btn {
		padding: 12px 32px;
		margin-bottom: 0;
		font-weight: 700;
		border: 1px solid #38e17f;
		color: #ffffff;
		background: #2e4384;
		cursor: pointer;
		transition: all 300ms;
	}
	.form-submit-btn:hover {
	border: 1px solid #38e17f;
		border-style: solid;
		background: #38e17f;
		color: #fff;
	}
}

.tm-contact-form-transparent {
	input[type=text],
	input[type=email],
	textarea {
		background: transparent;
	}
}
