/*
This file contains the common styles of this theme.
*/

/*------------------------------------------------------------------
[table of contents]
* reset.scss
* typography.scss
* common.scss
* container.scss
* overlay.scss
* header.scss
* page-title.scss
* boxed-layout.scss
* dark-layout.scss
* form.scss
* isotope-layout.scss
* owl-carousel.scss
* sliders.scss
* 404.scss
* archive.scss
* page.scss
* shortcodes 
	* animated-layer-advanced.scss
	* animated-layer-images.scss
	* blockquote.scss
	* blog.scss
	* button.scss
	* call-to-action.scss
	* common.scss
	* custom-columns-holder.scss
	* dropcaps.scss
	* easy-pie-chart.scss
	* element-holder.scss
	* final-countdown.scss
	* flickr-feed.scss
	* flipbox.scss
	* funfacts.scss
	* icon-box.scss
	* info-banner.scss
	* info-banner-advanced.scss
	* instagram-feed.scss
	* line-with-text.scss
	* nav-tabs-holder.scss
	* nav-tabs-pricing.scss
	* newsletter.scss
	* opening-hours.scss
	* paroller.scss
	* pie-chart.scss
	* pricing-tables.scss
	* progress-bar.scss
	* screenshot-gallery.scss
	* section-title.scss
	* separators.scss
	* stretched-bg.scss
	* styled-icons.scss
	* tabs.scss
	* unordered-list.scss
	* video-popup.scss
	* working-steps.scss
	* features-box.scss
	* social-links.scss
	* location-marker.scss
* widgets 
	* widgets-common.scss
	* brochure-box.scss
	* blog-list.scss
	* calender.scss
	* contact-info.scss
	* empty-space.scss
	* facebook.scss
	* featured-page.scss
	* flickr-feed.scss
	* gallery-images.scss
	* google-map.scss
	* google-plus.scss
	* horizontal-row.scss
	* icon-box.scss
	* instagram-feed.scss
	* portfolio.scss
	* search.scss
	* sidebar-nav-menu.scss
	* social-list.scss
	* testimonials.scss
	* twitter-feed.scss
	* mailchimp-subscribe-form.scss
* footer
	* footer.scss
	* footer-nav.scss
	* footer-widgets.scss
* ===============================================
*/