#container {
    background-color: #fff;
    color: #9b9b9b;
    height: 40px;
    text-align: center;
    flex-direction: column;
    cursor: pointer;
    font-family: 'Aprova';
    align-items: center;
    display: flex;
    justify-content: center;
    font-size: 1em;
    padding: 0px 10px 0px 10px;
    
}

#container:hover #text {
    opacity: 0.9;
    color: black;
}

#container:hover #dot{
    display: block;
}

#container.selected #text {
    color: black;
}

#container.selected #dot {
    display: block;
}

#text {
    height: 20px;
    justify-content: center;
    align-self: stretch;
    align-items: center;
}

#selected {
    align-self: stretch;
    height: 20px;
    display: flex;
    align-items: center;
    justify-content: center;
}

#dot {
    display: none;
    width: 10px;
    height: 10px;
    background-color: #28ab38;
    border-radius: 100%;
}

